<!DOCTYPE html>
<html lang="en" ng-app="MyBootstrApp">
<head>
  <meta charset="UTF-8">
  <title>AngularUI-Bootstrap Demo</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="app/css/styles.css">
</head>
<body ng-controller="MainCtrl">

  <section id="carousel">
    <uib-carousel interval="slideInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </section>
  <section id="ourTabs">
    <uib-tabset>
    <uib-tab heading="Digital Cameras">
      <div class="camera col-xs-4" ng-repeat="camera in digitalCameras">
       <img src="{{camera.photo}}" alt="{{camera.brand}}" />
       <p class="brand">Brand: {{camera.brand}}</p>
       <p class="price">Price: {{camera.price | currency }}</p>
       <button type="button" class="btn btn-primary btn-lg" ng-click="isCollapsed = !isCollapsed">View Review</button>
        <div collapse="isCollapsed">
          <div class="well well-lg">{{camera.review}}<br> <span><rating ng-model="camera.rate" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" ></rating></span></div>
        </div>
     </div>
    </uib-tab>
    <uib-tab heading="Another title">
      <div class="camera col-xs-4" ng-repeat="camera in filmCameras">
       <img src="{{camera.photo}}" alt="{{camera.brand}}" />
       <p class="brand">Brand: {{camera.brand}}</p>
       <p class="price">Price: {{camera.price | currency }}</p>
     </div>
    </uib-tab>
    <uib-tab heading="And Another title">
      <div class="camera col-xs-4" ng-repeat="accessory in accessories">
       <img src="{{accessory.photo}}" alt="{{accessory.brand}}" />
       <p class="brand">Brand: {{accessory.brand}}</p>
       <p class="price">Price: {{accessory.price | currency }}</p>
     </div>
    </uib-tab>
  </uib-tabset>
  </section>

  <!-- Our Demo and Bootstrap Code will go here -->

  <!-- Include any vendor scripts -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <!-- END vendor scripts -->

  <!-- Include our scripts below -->
  <script src="app/app.js"></script>
  <script src="app/controllers/main.controller.js"></script>
  <!-- END our scripts -->
</body>
</html>
