.ng-animate.item:not(.left):not(.right) {
  -webkit-transition: 0s ease-in-out left;
  transition: 0s ease-in-out left; }

#carousel {
  height: 100vh; }
  #carousel img {
    height: 100vh;
    width: 100%; }

ul.nav-tabs li {
  width: 33%;
  text-align: center; }

.tab-pane {
  height: 80vh; }
